<div class="container text-center">
    <div [routerLink]="['']" class="row my-4 menu-logo">
        <img src="../../../../assets/logos/logo.png" alt="logo_club_deportivo">
        <h2>Club Deportivo Atlantis</h2>
    </div>
    <div [routerLink]="['miembros']" class="row py-2 my-1 menu-item">
        <h5>Gestionar Miembros</h5>
    </div>
    <div [routerLink]="['/disciplinas']" class="row py-2 my-1 menu-item">
        <h5>Gestionar Disciplinas</h5>
    </div>
    <div [routerLink]="['eventos']" class="row py-2 my-1 menu-item">
        <h5>Gestionar Eventos</h5>
    </div>
    <div [routerLink]="['/nosotros']" class="row py-2 my-1 menu-item">
        <h5>Nosotros</h5>
    </div>
</div>
