<!-- Barra de búsqueda -->
<div class="container search-bar my-5">
    <div class="row my-4">
        <h1>Modulo de Disciplinas</h1>
        <span>Visualice y gestione la información de las distintas disciplinas que ofrece el club Atlantis.</span>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="terminoBusqueda">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" (click)="openDialog()">Nueva Disciplina</button>
        </div>
    </div>
</div>

<!-- Tabla -->
<div class="container table-container">
    <table class="table">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Modalidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let disciplina of disciplinas | filter:terminoBusqueda">
                <th scope="row">{{ disciplina.id }}</th>
                <td>{{ disciplina.nombre }}</td>
                <td>{{ disciplina.modalidad }}</td>
                <td class="d-flex justify-content-around">
                    <button class="btn btn-warning" (click)="editarDisciplina(disciplina)">
                        <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                    </button>
                    <button class="btn btn-primary" (click)="administrarMiembros(disciplina)">
                        <i class="fa-solid fa-gear" style="color: #ffffff;"></i>
                    </button>
                    <button class="btn btn-danger" (click)="eliminarDisciplina(disciplina)">
                        <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
