<div class="container">
    <div class="home-container">
        <div class="row">
            <div class="col-4 image-container">
                <img class="img img-fluid" src="../../../../assets/logos/semi-logo.png" alt="Semi altantis">
            </div>
            <div class="col-8 text-container">
                <div class="text-center">
                    <h2>Bienvenido/a</h2>
                </div>
                <div class="row mi-nueva-clase my-2">Explora nuestras diversas disciplinas deportivas, desde el fútbol hasta el yoga, diseñadas para
                    satisfacer tus intereses y metas atléticas. ¿Listo para darlo todo en la cancha o encontrar tu paz
                    interior en la esterilla? ¡Te tenemos cubierto!
                </div><div class="row mi-nueva-clase my-2">
                    Además, mantente al tanto de nuestros eventos pasados y futuros, desde competiciones locales hasta
                    torneos internacionales. Descubre cómo nuestro club ha dejado huella en el mundo del deporte y
                    celebra nuestros logros juntos.
                </div><div class="row mi-nueva-clase my-2">
                    ¿Quieres formar parte de la acción? No dudes en explorar la sección de miembros, donde podrás
                    encontrar información sobre otros socios del club, así como crear y gestionar tus propios registros.
                    Desde actualizar tus datos personales hasta registrar tus participaciones en eventos, ¡aquí tienes
                    el control!
                </div><div class="row mi-nueva-clase my-2">
                    Estamos comprometidos con tu experiencia en el club, así que no dudes en ponerte en contacto con
                    nosotros si necesitas ayuda o tienes alguna pregunta. ¡Estamos aquí para apoyarte en tu viaje
                    deportivo!
                </div><div class="row mi-nueva-clase my-2">
                    ¡Gracias por ser parte de nuestra familia en el Club Deportivo Atlantis! ¡Vamos juntos
                    hacia la victoria!
                </div>
            </div>
        </div>
    </div>
</div>