/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body {

  font-family: 'Barlow Condensed', sans-serif;
  --s: 30px; /* control the size */
  --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  margin: 0; /* Asegura que no haya márgenes */
  padding: 0; /* Asegura que no haya rellenos */
  width: 100%; /* Establece el ancho al 100% */

  color: #FFEBC6;
}



/* Estilo para el contenedor del modal */
.default-modal-container {
  backdrop-filter: none !important;
  position: fixed !important; /* Cambia la posición a fija */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrado absoluto */
  display: block !important; /* Cambia la pantalla a flex */
  align-items: center !important; /* Centra verticalmente */
  justify-content: center !important; /* Centra horizontalmente */
  background-color: #fff; /* Fondo blanco */
  border-radius: 5px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  z-index: 1; /* Superposición sobre otros elementos */
  max-width: 90%; /* Ancho máximo */
  max-height: 90%; /* Altura máxima */
  overflow-y: auto; /* Barra de desplazamiento vertical si es necesario */
}
